{%  extends 'base.html'%}
{% block css %}

{% endblock %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block content %}
<section>
  <div class="container">
  
  
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h1>AS <span class = "news">News</span>  </h1>
       </a>
      </div>
    </nav>
    
    <div class="row">
      <div class="col-md-7">
        <h3>Explore Today</h3>
        <h4 class = "text-muted">
        THROUGH THE EYES OF OUR JOURNALISTS AND PHOTOGRAPHERS 
        </h4>
      </div>
      <div class="col-md-5">
        <div class="circle float">
          <h3>DISCOVER</h3>
        </div>
      </div>
      <div class="">
        <a href="/sources"><button class="btn btn-lg btn-primary">Sources</button></a>
      </div>
    </div>
    </div>
</section>
{% endblock %}