{%  extends 'base.html'%}

{% block css %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename = 'css/source.css')}}">
{% endblock %}
{% block head %}
<title>Sources</title>
{% endblock %}


{% block content %}
<div class="container">
  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h1>AS <span class = "news">News</span>  </h1>
     </a>
    </div>
  </nav> -->
  <hr>
  <h1 class="text-center">
    NEWS SOURCES
  </h1>
  <hr>


  <div class="row">
    <div class="col-md-6">
      {% for source in message %}
      <div class = "my-card">
        <div class="card-container">
          <a href="/about/{{source.id}}">
            <h2>
              {{source.name}}
  
            </h2>
          </a>
          {% endfor %}
        </div>
        
      </div>

    </div>

  </div>
</div>
{% endblock %}